html {
    font-family: sans-serif;
  }
  div {
    width: 200px;  
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498db; 
    color: #fff; 
    text-shadow: 2px 2px 0px black; 
    font-size: 1.125rem; 
    border-radius: 5px; 
    border: 1px solid #1d6fa0; 
    background: linear-gradient(45deg, transparent 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%); 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), inset 2px 2px 5px rgba(255, 255, 255, 0.7), inset -2px -2px 5px rgba(0, 0, 0, 0.7); 
  }
  